.about-me{
    background: #202428 !important;
    box-shadow: 10px 10px 19px #1c1e22, -20px -10px 19px #262a2e !important;
    color: white;
    padding-top: 53px;
    padding-bottom: 40px;
}
.about-title{
    font-family: cursive;
    color: #FF2E59;
    
}
.about-text{
    line-height: 1.7;
    font-size: 17px;
    letter-spacing: 1.5;
}
.about-image img{
    padding: 5px;
}